[for="input_box"] {
    font-size: 25px;
}
#input_box {
    width: 175px;
    display: block;
    border: 2px solid black;
    position: relative;
    left: 87.5px;
    font-size: 18px;
    height: 40px;

}
.form-group {
    position: absolute;
    margin: 12px;
    text-align: center;
    width: 350px
}
span {
    font-size: 19px;
    color: yellow;
}
#button_submit {
    position: relative;
    top: 12px;
}
